.f-heading {
    font-family: 'Noto Serif', serif;
    color: #152361;
  }
  .f-body {
  font-family: 'Montserrat', sans-serif;
    color: #152361;
  }
  
  .text-light {
    color: #5B6590;
  }
  
  .container {
    -webkit-font-smoothing: antialiased;
    width: 390px;
    background: #FFFDFB;
    margin: 0 auto;
  }
  .bg-beige {
    background: #FFF8ED;
  }